@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #0B0A0A;
  background: #DDCEBD;
  }

  .top-pagina {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0;
  }

  .jumbotron {
    background-image: url(assets/img/Wireframe\ -\ 2.png);
    background-size: cover;
    background-position: center;
    background-attachment: local;
    color: #271F16;
    padding: 100px 0;
    text-align:left;
  }

  .titulo-banner {
    margin-bottom: 10px;
    font-size: 5rem;
    font-weight: 30px;
    letter-spacing: 3px;
    font-weight: bold;
  }



  .texto-banner {
    font-size: 25px;
  }


  .boton-menu {
    background-color: #D97E42;
    color: #ffff;
  }


  .menu-item {
    margin-bottom: 20px;
  }



  nav {
    background-color: #736452 ;
    
  }

  .navbar-brand {
    color: #ffff;
  }

  .navbar-brand:hover {
    color: #0B0A0A;
  }

  .nav-link {
    color: #ffff;
  }

  .nav-link:hover {
    color: #0B0A0A;
  }

  .navbar-nav {
    margin-left: auto;
    justify-content: end;
  }

  .nav1 {
    padding-left: 50px;
    padding-right: 50px;
  }