* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TiltWarp";
  src: url("assets/fonts/TiltWarp[XROT\,YROT].ttf") format("truetype");
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #0b0a0a;
  background-color: #faf5f2;
}

/* NAVBAR */
header {
  background-color: #271f16;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 50px;
  margin-top: 10px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

header a {
  text-decoration: none;
  color: #faf5f2;
  margin-left: 40px;
  float: left;
  display: block;
}

nav ul li a:hover {
  color: #d97e42;
}

.logo {
  margin-left: 50px;
}

.logo img {
  width: 70px;
}

/* ESTILOS TOP PAGE */
.top-pagina {
  text-align: center;
  padding-top: 0.625rem;
  background-color: #ddcebd;
}
.top-p {
  margin-bottom: 0;
}

/* ESTILOS BANNER INICIO */
.jumbotron {
  background-image: url(./assets/img/Wireframe\ -\ 2.png);
  background-size: cover;
  background-position: center;
  background-attachment: local;
  color: #271f16;
  padding: 6.25rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jumbotron .container {
  width: 60%;
  text-align: center;
  position: relative;
  right: 20%;
}

.titulo-banner {
  margin-bottom: 0.625rem;
  font-family: "TiltWarp", sans-serif;
  font-size: 3.6rem;
  font-weight: 1.875rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  align-self: flex-start;
}

.texto-banner {
  width: 50%;
  font-size: 1.4rem;
  text-align: center;
  align-self: center;
  position: relative;
  left: 25%;
}

.boton-menu {
  background-color: #d97e42;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  margin-top: 1rem;
}

.boton-menu:hover {
  background-color: #271f16;
  color: #faf5f2;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 1.25rem;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.menu-item img {
  max-width: 100%;
  height: auto;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

#btn-form {
  background-color: #d97e42;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1rem;
}

#btn-form:hover {
  background-color: #271f16;
  color: #faf5f2;
}

/* ESTILOS SECTION FRASE DIVISORA */
.division-section {
  text-align: center;
  background-color: #271f16;
  color: #faf5f2;
  padding-bottom: 0.625rem;
  padding-top: 0.7rem;
}
.division-section p {
  margin: 0;
}

/* ESTILOS SECCION DE SERVICIOS */
.grid-container-servicios {
  display: grid;
  gap: 20px 50px;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  margin-top: 2rem;
}

.servicios {
  background-color: #ddcebd;
  color: #271f16;
  padding: 10px;
  text-align: center;
}

.servicios h2 {
  font-family: "TiltWarp", sans-serif;
  padding-left: 15px;
}

.servicios h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
}

.servicios p {
  font-size: 14px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}

.col {
  flex: 1 0 33.33%;
  padding: 1rem;
}

/* ESTILOS SECCION DE PASTELERIA */

.grid-container-pasteleria {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-template-columns: 25% 25% 25%;
  justify-content: center;
  padding: 1rem 1rem;
  background-color:#faf5f2;
}

.pasteleria h2 {
  font-family: "TiltWarp", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 3rem;
  margin-bottom: 1rem;
}

.pasteleria h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 10px;
}

.pasteleria p {
  font-size: 14px;
}

/* .boton-comprar {
  background-color: #d97e42;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  display: inline-block;
  margin-top: 1rem;
} */

.boton-comprar {
  background-color: #d97e42;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  align-self: center; /* Coloca el botón al final del contenedor */
  margin-top: auto; /* Ajusta el espacio entre el último elemento y el botón */
}

.boton-comprar:hover {
  background-color: #271f16;
  color: #faf5f2;
}

@media (max-width: 768px) {
  .col {
    flex-basis: 50%;
  }
}

@media (max-width: 480px) {
  .col {
    flex-basis: 100%;
  }
}

.content {
  padding: 1rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 3.75rem;
}

#navbar-container {
  z-index: 1000;
}
