* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TiltWarp";
  src: url("assets/fonts/TiltWarp[XROT\,YROT].ttf") format("truetype");
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #0b0a0a;
  background-color: #faf5f2;
}

html {
  scroll-padding-top: 4rem;
}

/* NAVBAR */
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: #271f16;
}

.navbar-toggler {
  background-color:#cebdab;
}

header .navbar .logo {
  margin-left: 30px;
}
header .navbar .logo .navbar-brand {
  margin-right: auto;
}
header .navbar .logo img {
  width: 70px
}
header .navbar .navbar-nav {
  margin-left: auto;
  justify-content: end;
}
header .navbar .navbar-nav li a {
  text-decoration: none;
  color:#faf5f2;
  margin: 10px 20px 20px;
  padding: 5px;
}
header .navbar .navbar-nav li a:hover {
  color:#d97e42;
}

.inicioSesion {
  margin-left: 10px;
  background-color:#cebdab;
  color:#271f16;
  border-color:#271f16;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #0b0a0a;
}

.inicioSesion:hover {
  background-color:#d97e42;
  color:#271f16;
  border-color:#271f16;
}

@media screen and (max-width: 990px) {
  header .navbar-nav li {
    margin: 12px;
    text-align: center;
  }
}

/* ESTILOS TOP PAGE */
.top-pagina {
  text-align: center;
  padding-top: 0.625rem;
  background-color: #ddcebd;
}
.top-p {
  margin-bottom: 0;
}

/* ESTILOS BANNER INICIO */
.jumbotron {
  background-image: url(./assets/img/Wireframe\ -\ 2.png);
  background-size: cover;
  background-position: center;
  background-attachment: local;
  color: #271f16;
  padding: 6.25rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jumbotron .container {
  width: 60%;
  text-align: center;
  position: relative;
  right: 20%;
}

.titulo-banner {
  margin-bottom: 0.625rem;
  font-family: "TiltWarp", sans-serif;
  font-size: 3.6rem;
  font-weight: 1.875rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  align-self: flex-start;
}

@media (max-width: 1000px) {
  .titulo-banner {
    font-size: 2rem;
  }
  .texto-banner {
    font-size: 15px;
  }
}

.texto-banner {
  width: 50%;
  font-size: 1.4rem;
  text-align: center;
  align-self: center;
  position: relative;
  left: 25%;
}

.boton-menu {
  background-color: #d97e42;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  margin-top: 1rem;
}

.boton-menu:hover {
  background-color: #271f16;
  color: #faf5f2;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem; /* Reducido el espacio entre las tarjetas */
  padding: 0.75rem; /* Reducido el espacio interno de las tarjetas */
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* Sombra más suave */
  background-color: #fff; /* Fondo blanco para las tarjetas */
}

.menu-item img {
  max-width: 100%;
  height: auto;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem; /* Reducido el espacio entre la imagen y el texto */
}

.container h2 {
  padding: 1.5rem;
  font-family: "TiltWarp", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 3rem;
  margin-bottom: 1rem;
}

.menu-item h3 {
  font-size: 1.1rem; /* Tamaño de fuente reducido */
  font-weight: bold;
  margin-top: 0.5rem; /* Reducido el espacio entre el título y la imagen */
}

.menu-item p {
  font-size: 14px; /* Tamaño de fuente reducido */
}

.menu-item .boton-comprar {
  background-color: #d97e42;
  color: #fff;
  padding: 0.5rem 1rem; /* Reducido el espacio del botón */
  border-radius: 0.25rem;
  text-decoration: none;
  text-align: center;
  font-size: 0.875rem; /* Tamaño de fuente reducido */
  margin-top: auto; /* Ajusta el espacio entre el último elemento y el botón */
}

.menu-item .boton-comprar:hover {
  background-color: #271f16;
  color: #faf5f2;
}

#btn-form {
  background-color: #d97e42;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1rem;
}

#btn-form:hover {
  background-color: #271f16;
  color: #faf5f2;
}

/* ESTILOS SECTION FRASE DIVISORA */
.division-section {
  text-align: center;
  background-color: #271f16;
  color: #faf5f2;
  padding-bottom: 0.625rem;
  padding-top: 0.7rem;
}
.division-section p {
  margin: 0;
}

/* ESTILOS SECCION DE SERVICIOS */
.grid-container-servicios {
  display: grid;
  gap: 20px 50px;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}

.servicios {
  background-color: #ddcebd;
  color: #271f16;
  padding: 10px;
  text-align: center;
}

.servicios h2 {
  font-family: "TiltWarp", sans-serif;
  padding-left: 15px;
}

.servicios h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
}

.servicios p {
  font-size: 14px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}

.col {
  flex: 1 0 33.33%;
  padding: 1rem;
}

@media (max-width: 768px) {
  .col {
    flex-basis: 50%;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
    margin-top: 0;
  }
  nav ul {
    flex-direction: column;
    width: 100%;
  }
  nav ul li {
    margin: 0.5rem 0;
  }
}

@media (max-width: 480px) {
  .col {
    flex-basis: 100%;
  }
}

.content {
  padding: 1rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 3.75rem;
}

#navbar-container {
  z-index: 1000;
}

/* ESTILOS FOOTER*/

footer {
  background-color: #271f16;
}

footer .redes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

footer .redes .redes-titulo {
  text-align: center;
  letter-spacing: 1px;
  font-size: 18px;
  padding: 20px 10px 5px 10px;
  color: #faf5f2;
}

footer .redes .redes-titulo h3 {
  font-weight: bold;
  color: #faf5f2;
}
footer .redes .redes-titulo p {
  font-size: 1rem;
  color: #faf5f2;
  margin-bottom: 5px;
}

footer .redes ul {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}
footer .redes ul li {
  margin: 0px 10px;
  list-style-type: none;
}

footer .redes ul li:hover {
  transform: translateY(-2px);
}

footer .redes a {
  text-decoration: none;
  color: #faf5f2;
}

footer .contacto-footer {
  display: flex;
  justify-content: center;
  color: #faf5f2;
}

footer .contacto-footer p {
  margin: 0 10px 10px 10px;
}

footer .social ul li:hover {
  transform: translateY(-2px);
}
footer .autor {
  text-align: center;
  font-size: 15px;
  background-color: #ddcebd;
}

footer .autor p {
  padding: 0px;
  margin: 0px;
  color: #271f16;
  letter-spacing: 2px;
  font-weight: bold;
}

footer .redes img {
  width: 80px;
  height: 60px;
  padding-bottom: 10px;
}

/* ESTILOS SECTION NOSOTROS*/

.about-us {
  background-color: #e6ded5;
  padding: 50px;
  margin: 100px 300px;
  border-radius: 20px;
}

.about-us h2 {
  text-align: center;
  margin-bottom: 50px;
  color: #271f16;
  font-family: "TiltWarp", sans-serif;
}

.about-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.about-section:nth-child(odd) .image {
  order: 1;
}

.about-section:nth-child(odd) .text {
  order: 2;
}

.about-section:nth-child(even) .image {
  order: 2;
}

.about-section:nth-child(even) .text {
  order: 1;
}

.image,
.text {
  flex: 1 1 50%;
}

.image img {
  width: 450px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.text h3 {
  margin-top: 0;
  color: #271f16;
  font-family: "TiltWarp", sans-serif;
}

.text p {
  color: #242121;
  line-height: 1.6;
  text-align: justify;
  text-indent: 20px;
}

@media (max-width: 1200px) {
  .image img {
    width: 300px;
    margin-bottom: 20px;
    box-shadow: none;
  }
  .about-us {
    margin: 0;
    padding: 8px;
  }
}

/*ESTILO FORM*/

.contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.form-container,
.map-container {
  flex: 1 1 48%;
  padding: 10px;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
}

form h2 {
  margin-bottom: 20px;
}

form label {
  margin-top: 10px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
}

form button {
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

@media (max-width: 768px) {
  .form-container,
  .map-container {
    flex: 1 1 100%;
    padding: 10px;
  }
  .map-container {
    width: 300;
    height: auto;
  }
}

#contactenos {
  font-family: "TiltWarp";
}

.form-control {
  background-color: rgba(230, 228, 227, 0.5);
}

.form-control::placeholder {
  opacity: calc(0.4);
}

#btn-form {
  background-color: #d97e42;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1rem;
  margin-top: 10px;
}

label {
  margin-top: 15px;
  font-size: 20px;
}

#btn-form:hover {
  background-color: #271f16;
  color: #faf5f2;
}

/*ESTILOS PAGINA REGISTRO*/
.form-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.form-image img {
  width: 600px;
  height: 680px;
  margin: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.form-registro {
  max-width: 700px;
  margin: 10px auto;
  padding: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background-color:#cebdab;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.form-registro label {
  color:#271f16;
  font-size: 15px;
}

.form-registro input {
  background-color: #faf5f2;
  padding-right: 40px;
}


.form-registro .row {
  display: flex;
  flex-direction: initial;
  margin: -1rem;
}

.titulo-registro {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
  color:#271f16;
  font-family: "TiltWarp", sans-serif;
}

.titulo-registro h1 {
  font-size: 20px;
}

.form-control {
  border-radius: 5px;
  box-shadow: none;
  border-color: #ddd; 
}

.form-control:focus {
  border-color:#d97e42; 
  box-shadow: 0 0 0 0.2rem rgba(207, 196, 182, 0.25); 
}

.btn-registro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primario{
  background-color:#271f16;
  border-color:#271f16;
  border-radius: 5px;
  color: #faf5f2;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #271f16;
  background-color:#faf5f2;
  border-color:#271f16;
}


/*ESTILOS LOGIN */
.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.login-container {
  background-color:#cebdab;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
  font-family: "TiltWarp", sans-serif;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color:#271f16;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color:#d97e42;
  color: #0b0a0a;
}

.register-link {
  color:#271f16;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .login-container {
      padding: 15px;
  }

  h1 {
      font-size: 24px;
  }

  .input-group input {
      padding: 8px;
      font-size: 14px;
  }

  .login-button {
      padding: 8px;
      font-size: 14px;
  }
}